.d1 {
    padding-top: 200px;
    padding-left: 500px;
}

.box1 {
    margin: 10px;
    border: 3px solid #000000;
    width: 400px;
    height: auto;
}

p {
    background-color: #f5cb36fd;
    margin: 40px;
}