body {
    padding-left: 500px;
    padding-top: 175px;
}

div.box1 {
    width: 100px;
    height: 70px;
    border: 3.5px solid greenyellow;
    display: inline-block;
    margin-left: 20px;
}


div.box2 {
    width: 100px;
    height: 70px;
    border: 3.5px solid greenyellow;
    display: inline-block;
    margin-left: 20px;
}

div.box3 {
    width: 100px;
    height: 70px;
    border: 3.5px solid greenyellow;
    display: inline-block;
    margin-left: 20px;
}

div#b1 {
    border-radius: 10px;
}

div#b2 {
    border-radius: 15px;
}

div#b3 {
    border-radius: 25px;
}

div#b4 {
    border-radius: 15px;
}

div#b5 {
    border-radius: 10px;
}

div#b6 {
    border-radius: 25px;
}

div#b7 {
    width: 100px;
    height: 60px;
    border-radius: 140px;
}


div#b8 {
    border-radius: 10px;
}

div#b9 {
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}